
/* Small devices (landscape phones, less than 768px)*/

@media all and (max-width: 767px)
{
	body
	{
		max-width: 797px;
	}

	header
	{
		height: 215px;
	}

	.cadre_photo
	{
		width: 33%;
		min-width: 263px;
	}


	.photo
	{
		max-width:150px;
	}

	/*Partie nom*/
	.nom
	{
		padding-left: 20px;
		padding-right: 20px;
		width: 67%;
		min-width: 534px;
		background-color: #26A69A;
	}

	.prenom
	{
		color: white;
	}

	#souligne
	{
		border-bottom: 2px solid white;
	}

	h1
	{
		font-size: 2em;
	}

	h2
	{
		margin-top: 0.5em;
		margin-bottom: 0;
		font-size: 1.2em;
	}

	.conteneur
	{
		flex-direction: column-reverse;
		margin-top: 20px;
	}

	aside
	{
		display: flex;
		flex-direction: row;
		background-color: #26A69A;
	}
}


