/* Stylesheet - Projet n°2 : Transformez votre CV en site web / Clémence Barnaud */

@font-face {
    font-family: 'sansation_lightlight';
    src: url('fonts/Sansation-Light-webfont.eot');
    src: url('fonts/Sansation-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation-Light-webfont.woff2') format('woff2'),
         url('fonts/Sansation-Light-webfont.woff') format('woff'),
         url('fonts/Sansation-Light-webfont.ttf') format('truetype'),
         url('fonts/Sansation-Light-webfont.svg#sansation_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html
{
	background-color: #ECEFF1;
}

body
{
	display: block;
	max-width: 1190px;
	background-color: white;
	font-family: 'sansation_lightlight', 'helvetica neue';
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

/* Mise en page du header */

header
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 325px;
	width: 100%;
	margin:0;
}

/*Partie photo*/
.cadre_photo
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 ;
	width: 33%;
	background-color: #26A69A;
}


.photo
{
	display: block;
	width:220px;
	margin:0;
	border: 2px #004D40 solid;
	border-radius: 50%
}

/*Partie nom*/
.nom
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 67%;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
}

.prenom
{
	color:#26A69A;
}

#souligne
{
	border-bottom: 2px solid #26A69A;
}

h1
{
	margin: 0;
	font-size: 3em;
}

h2
{
	margin-top: 0.5em;
	margin-bottom: 0;
	font-size: 1.5em;
}

/*Création d'un conteneur général*/

.conteneur
{
	display: flex;
	flex-direction: row;
	font-size: 0.9em;
}

h3
{
	font-size: 1.5em;
}

/* Mise en page du aside */

aside
{
	display: flex;
	flex-direction: column;
	width: 33%;
	background-color: #26A69A;
	margin: 0;
}

address, .a_propos, .loisirs
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	font-style: inherit;
}

address p
{
	margin-top: 6px;
	margin-bottom: 6px;
}

.a_propos
{
	flex-grow: 1;
}

.a_propos p
{
	margin-top: 6px;
	margin-bottom: 6px;
}

aside h3 
{
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 20px;
	margin-bottom: : 20px;
	background-color: #004D40;
	color: #26A69A;
	text-align: center;
}

aside p
{
	padding-right: 50px;
	padding-left: 50px;
}

.logos
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 2em;
	color: #004D40;
	margin:6px 0px 26px 0px;
}

.loisirs i
{
	border: 2.5px #004D40 solid;
	border-radius: 50%;
}

i[class*="laptop"]
{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 11.4px;
	padding-left: 11.4px; 
}

i[class*="globe"]
{
	padding:15px;
}	

i[class*="camera"]
{
	padding:15px;
}

/* Mise en page du main */

main
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 67%;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
}

.ligne
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 700px;
	border-bottom: 2px solid #26A69A;
}

main h3
{
	margin: 0;
}

main i
{
	font-size: 1.8em;
	padding-right: 20px;
}

.formation, .experience, .recommandations
{
	flex-grow: 1;
}

.formation p
{
	margin-left: 50px;
}

.ecole1, .ecole2
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.experience p
{
	margin-left: 50px;
}

.experience1, .experience2, .experience3
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.p1
{
	font-size: 1.1em;
	font-weight: bold;
}

.p2
{
	line-height: 0.7em;
}

.p3
{

}

li
{
	padding-left: 1em;
	width: 190px;
}

ul.actuel
{
	list-style: none
}

ul.actuel>li::before
{
	content: '\29BF';
}

ul
{
	list-style: none;
	padding: 0;
}

li::before
{
	content: '\25CF';
	color: #26A69A;
	width: 1em;
	display: inline-block;
	margin-left: -1em;
}

ul.liste_description
{
	list-style: none;
	margin-left: 50px;
	width: auto;
}

ul.liste_description>li::before
{
	content: '\2022'; 
	color: black;
	width: 1em;
}

ul.liste_description li
{
	width: auto;
}

.recommandations div
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.recommandations p
{
	width: 240px;
	padding-right: 100px;
}


